<!DOCTYPE html>
<html lang="{{ app.getLocale }}">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}

            {% endblock %}
        </title>
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0 user-scalable=no" />
        <link rel="icon" href="{{ asset('favicon.ico') }}" />
        {{ view_blade('vite') }}
    </head>
    <body>
        <div id="app">
            <div>
                {% include '@components/navbar/navbar.twig' %}
                {% if auth_check() %}
                    {% include '@components/navbar/admin.twig' %}
                {% endif %}
            </div>
            <main>
                {% block content %}

                {% endblock %}
            </main>
            {% include '@components/footer/footer.twig' %}
        </div>
    </body>
</html>
