{% extends '@components/layout.twig' %}
{% block content %}
    <div class="container mx-auto p-4 my-2 rounded-md relative bg-slate-800">
        <h2 class="text-lg text-center">
            Home
        </h2>
		<p>Lorem ipsum dolor asit met consectetur adipisicing elit. Repellat porro qui dicta suscipit assumenda voluptatibus, veniam consequatur rem vitae est! Quasi reiciendis eveniet incidunt tempore nemo quisquam sed, nisi officia?
		Voluptas temporibus labore tenetur nulla aliquam beatae totam natus rerum soluta ipsa. Totam illo soluta minima autem aperiam fugit enim laborum velit. Rem voluptates obcaecati nihil placeat quae voluptatum consectetur.
		Quaerat molestiae perferendis natus illum. Animi laborum voluptas tenetur atque culpa iure, officiis nemo, non ducimus totam excepturi nulla consequuntur facilis quae fuga repudiandae neque, accusantium est temporibus cumque ullam!
		Earum natus molestiae, sint eum id explicabo similique quidem ut omnis quaerat doloribus voluptatibus consequuntur cum dolore aut, qui commodi recusandae rerum voluptatum necessitatibus? Adipisci alias ut aperiam odio quae!
		Quasi saepe voluptates soluta fugiat facere fuga officia deserunt ipsum? Voluptatum labore perspiciatis eum nostrum optio eos eaque ad enim sint quaerat quo repudiandae officia atque, adipisci soluta harum libero.</p>
    </div>
{% endblock %}
